{% extends 'layout.html' %}

{% block title %}
    Sign Echo
{% endblock %}

{% block body %}
    <h1>Analyzing sign languages . . . </h1>
    <img src="/video_feed" class="video-feed">
    <button onclick="generateAndPlay('{{ text_to_speak }}')">Generate and Play</button>
    <div id="status" class="status"></div>
    <audio id="audioPlayer" controls style="display: none;">
        <source src="{{ url_for('get_audio') }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>

{% endblock %}